body {
  width: 90%;
  margin: auto;
  background-color: #242e2e;
}

a {
  color: #cd5fd7;
  text-decoration: none;
}

h1.title {
  margin-top: 50px;
  color: #eb6123;
}

th {
  color: #242e2e;
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}

th.header {
  font-size: 20px;
}

table,
th,
td {
  border-collapse: collapse;
  text-align: left;
  border-style: hidden;
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

td {
  padding: 5px;
  border: 3px solid #465959;
  font-size: 12px;
}

tr:nth-child(odd) {
  background-color: #2e2e24;
}

tr:nth-child(even) {
  background-color: #2e242e;
}

table.headers th {
  background-color: #91e435;
}

table.headers td {
  color: #91e435;
}

table.headers td:first-child {
  font-weight: bold;
  font-size: 14px;
}

table.href th {
  background-color: #a2edfd;
}

table.src th {
  background-color: #f0c383;
}

table.headers,
table.href,
table.src td {
  word-wrap: break-word;
}

table.src td {
  color: #f0c383;
}

div.data-items {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

div.headers {
  color: #91e435;
  float: left;
}

div.src,
div.href {
  float: left;
  padding-left: 20px;
}

div.href {
  color: #a2edfd;
}

div.src {
  color: #f0c383;
  float: left;
  padding-left: 20px;
}

table.href td {
  color: #a2edfd;
}

ol {
  list-style: decimal-leading-zero;
  list-style-position: outside;
}

ul.headers {
  list-style: none;
  list-style-position: outside;
}

br.clear {
  clear: both;
}

h1.logo {
  color: #cd5fd7;
  font-size: 100px;
  text-shadow: -2px 0px 2px #fff, -4px 1px 3px #f0c383, -6px 2px 5px #91e435;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
}

img.screenshot {
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5%;
  border: 5px solid #cd5fd7;
}

img.small {
  max-width: 45%;
}

img.large {
  max-width: 95%;
}

hr {
  border-top: 5px solid #f0c383;
  border-bottom: 5px solid #cd5fd7;
}
